.headline{
  font-size:3em;
  font-weight:700;
  text-align:center;
  font-family: 'Montserrat', sans-serif;
}

.byline{
  font-size:1em;
  text-transform:uppercase;
  font-family: 'Montserrat', sans-serif;
  text-align:center;

}

p{
  font-family:Georgia, serif;
  line-height: 100%;
}

img{
  margin:auto;
  display:block;
  align:center;
  width:60%;
  padding:5px;
}

.caption{
  font-size:.8em;
  font-weight:lighter;
  font-family: 'Montserrat', sans-serif;
  color:grey;
  padding-left: 190px;
}
