.fixed-top{
  margin:0 auto;
  z-index:1;
}

.box{
  background:#b22222;
  height: 20px;
  width:0%;
  position:fixed;
  top:0;
  z-index:2;
}

h5{
  width:100%;
  margin:0 auto;
  align-items: center;
  top:0;
  font-family: 'Montserrat', sans-serif;
  font-size:1em;
  text-transform:uppercase;
  font-weight:700;
  position:fixed;
}


.pagetop{
  background: rgba(0, 0, 0, .6);
  background-size: cover;
  color: #f1f1f1;
  width:100%;
  padding-top: 20px;
  padding-bottom:20px;
  font-size:4em;
}

.cap{
    font-size:.8em;
    font-weight:lighter;
    font-family: 'Montserrat', sans-serif;
    color:grey;
    text-align: center;
    width:60%;
}

.headline{
  font-size:2em;
  font-weight:700;
  text-align:left;
  font-family: 'Montserrat', sans-serif;
  width:60%;
  margin:0 auto;
}

.byline{
  font-size:1em;
  text-transform:uppercase;
  font-family: 'Montserrat', sans-serif;
  text-align:left;
  margin:0 auto;
  padding-top:15px;
  width:60%;
}

p{
  font-family:Georgia, serif;
  width:60%;
  margin:inherit;
  margin-bottom: 20px;
  font-size:17px;
  text-align:justify;
  min-width:60%;
}

img{
  margin:auto;
  display:block;
  align:center;
  width:60%;
  padding:5px;
}

.chaphead{
  font-size:20px;
  padding-top:15px;
  font-family: 'Montserrat', sans-serif;
  font-weight:bold;
  color:#b22222;
}

.pullquote{
  width: 60%;
  color: #b22222;
  line-height: 0.9;
  font-style: italic;
  margin:0 auto;
  background: url(/Users/melena/Documents/GitHub/Melena-DiNenna-JOUR352/climate-crisis-story/Quotation-Mark-PNG-Free-Download.png) top left no-repeat;
  border-bottom: dotted #b22222;
  border-top: dotted #b22222;
  border-width: 0.3px;
  padding-bottom:30px;
}

.pullquote-top{
  font-size: 26px;
  padding-top:50px;
  padding-left:40px;
}

.pullquote-top::first-letter{
  font-size:30px;
  font-weight:bold;
}


.pullquote-bottom{
  padding-top:15px;
  padding-left:45px;
}

/**GRAPHIC: Indoor and outdoor heat index during Baltimore heat wave**/
#datawrapper-chart-96xsT{
  margin:auto;
  display:block;
  align:center;
  padding:5px;
  width:60%;
  border: none;
  height=400;
  }

/**row for next two graphics**/
.row{
  width:60%;
  margin:0 auto;
}

/**GRAPHIC: The relationship between summer temperature and poverty in Baltimore**/
#datawrapper-chart-HDH9c{
  margin:auto;
  display:block;
  align:center;
  vertical-align: middle;
  padding:5px;
  width:100%;
  border: none;
  height=100%;
}

/**GRAPHIC: Summer temperature and violence**/
#datawrapper-chart-45M4X{
  margin:auto;
  display:block;
  align:center;
  vertical-align: middle;
  padding:5px;
  width:100%;
  border: none;
  height=400;
}

/**GRAPHIC: Baltimore has more than its share of heat-related deaths in Maryland**/
#datawrapper-chart-W0Al6{
  margin:auto;
  display:block;
  align:center;
  padding:5px;
  width:60%;
  border: none;
  height:400px;
}

/**GRAPHIC: Baltimore Cooling Centers map**/
#datawrapper-chart-g17ar{
  margin:auto;
  display:block;
  align:center;
  padding:5px;
  width:60%;
  border: none;
  height:500px;
}

.text-box{
  background-color: #dcdcdc;
  width: 50%;
  margin: 0 auto;
  border: solid #b22222 1px;
}

.text-box-title{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25em;
  font-weight:bold;
  text-align: center;
  color: #b22222;
}

.carousel-caption{
  width:60%;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  text-align: left;
  color:black;
  margin:0 auto;
  top: 45%;
  transform: translateY(-50%);
  bottom: initial;
}


.text-box-intro-text{
  width:70%;
  font-family: 'Montserrat', sans-serif;
  font-size: .9em;
  text-align: justify;
}

.text-box-source-text{
  padding-left: 1em;
  padding-right: 1em;
  width:100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  text-align: center;
  color:#303030;
}

/**unvisited link**/
a:link{
  color:#b22222;
}

/**visited link**/
a:visited{
  color:#778ba5;
}

/**mouse over link**/
a:hover{
  color:#701c1c;
}

.progress-container {
  position:relative;
  width: 100%;
  height: 8px;
  background: #ccc;
}

.progress-bar {
  height: 8px;
  background: #04AA6D;
  width: 0%;
}

@media screen and (max-width: 380px) {
 /*iPhone X size*/

 .pagetop{
   letter-spacing: normal;
   font-size:2em;
   width:100%;
 }

 p{
   font-size:15px;
   width:80%;
 }

 h5{
   font-size:.7em;
 }

 .orgs{
   font-size:10px;
   text-transform: capitalize;
 }

.progress-container{
  width:100%;
  position:relative;
}

#datawrapper-chart-96xsT, #datawrapper-chart-W0Al6,  #datawrapper-chart-g17ar{
  width:80%;
        }

.row{
  width:80%;
}

img, .cap{
  width:80%;
  font-size:.7em;
}

.text-box{
  width:90%;
}

.text-box-intro-text{
  text-align:justify;
  font-size:.75em;
  width:90%;
}

.text-box-text{
  width:100%;
  font-size:.2em;
}

.carousel-caption{
  font-size:11px;
  width:75%;
}
}

@media screen and (max-width: 770px) {
/*iPad size*/

p{
  width:75%;
}

.text-box{
  width:70%;
}

.pullquote{
  width:75%;
}

#datawrapper-chart-96xsT, #datawrapper-chart-W0Al6,  #datawrapper-chart-g17ar{
  width:75%;
        }
.row{
  width:75%;
  }

.byline{
  width:75%;
  margin:0 auto;
}


}
