#content {
  margin: 0 auto;
  width: 900px
}

body{
  font-family: Georgia, serif;
  font-size: 13px;
}

h1 {
  font-family: Helvetica, sans-serif;
}

#byline {
  font-size: 14px;
  font-family: Helvetica, sans-serif;
  font-stlye: italic;
}

p{
  font-family: Georgia, serif;
}
img {
  width: 50%;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

}
#caption {
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

#giftitle {
  margin: 0 auto;
  text-align: center;
}

blockquote {
  font:16/24px normal helvetica, sans-serif;
  font-style: italic;
  margin-top: 15px;
  margin-bottom: 15px;
  color: red;
  margin-left: 50px;
  padding-left: 15px;
  padding-top: 15px;
  border-left: 4px solid #ccc;
}
