#content{
  align: center;
  width: 70%;


}
h1 {
  font-family: 'Noto Serif', serif;
  font-size: 50px;

}

p {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;

}

img {
  width: 20px;
  height: 100%;
}
