#content{
  column-count: 1;
  padding-left: 10px;
  padding-right: 10px;
  width: 70%;
  margin: 0 auto;
}

/* headline*/
h1 {
  font-family: 'Noto Serif', serif;
  font-size: 50px;
}

#byline {
  padding-top: 3px;
  padding-bottom: 3px;
}

/*subheadings*/
h2 {
  padding-top: 10px;
  padding-bottom: 10px;
}

/*article text*/
p {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}

img{
  width: 100%;
  height: 70%;
  margin-left: auto;
  margin-right: auto;
  align: center;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}

#caption{
  width: 50%;
  text-align: center;
  margin: 0 auto;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: grey;
}

/* "related" heading */
h4{
  font-size: 5px;
}

/* "related" list*/
ul {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 12px;
  list-style-image: url(/Users/melena/Documents/GitHub/Melena-DiNenna-JOUR352/midterm/box-arrow-up-right.svg)
}

li{
font-size: 11px;
}

/* "related" background*/
#related {
  background-color: #DCDCDC;
  width: 53%;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 5px;
  margin: 0 auto;
  border-radius: 25px;

}

.pquote {
    font:24px 'Noto Serif', sans-serif;
    font-style: italic;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #29465B;
    margin-left: 50px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 10px;
    border-left: 4px solid #ccc;
  }
